/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  /* Get it? We're transitioning from TypeScript Blue to GraphQL Rhodamine. */
  background: linear-gradient(165deg, #3178c6, #e10098);
}

.titleShadow {
  text-shadow: var(--text-shadow-glow);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
