node_modules/
pnpm-lock.yaml
pnpm-workspace.yaml
dist/
.parcel-cache
.vercel
website/.docusaurus
website/build
src/tests/fixtures/user_error/InvalidSyntax.invalid.ts
**/schema.graphql
**/schema.ts
**/enums.ts
examples/incremental-migration/schemas/gratsGeneratedSchema.ts
.next

# Local Netlify folder
.netlify
website/src/workers/ts.worker.mjs
